name: anti_screenshot_guard
description: A Flutter plugin to prevent screenshots and detect screenshot events on Android and iOS.
version: 1.0.0
homepage: https://github.com/pancanugraha/anti_screenshot_guard
repository: https://github.com/pancanugraha/anti_screenshot_guard
issue_tracker: https://github.com/pancanugraha/anti_screenshot_guard/issues
documentation: https://github.com/pancanugraha/anti_screenshot_guard#readme

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.pancanugraha.anti_screenshot_guard
        pluginClass: AntiScreenshotGuardPlugin
      ios:
        pluginClass: AntiScreenshotGuardPlugin
